#! /bin/sh

# power users can choose a different devshell target
[ -f .envrc.local ] && source_env .envrc.local
DEVSHELL_TARGET=${DEVSHELL_TARGET:-dev}

# Equinix deployment key
source_env_if_exists secrets/equinix-secret.sh
env_vars_required METAL_AUTH_TOKEN

source_url \
    "https://raw.githubusercontent.com/divnix/std/main/direnv_lib.sh" \
      "sha256-JkRxy5PilGkOQcI/KaiZeyJKUTMTKduQwsw/ayUyz4k="
use std nix "//automation/devshells:${DEVSHELL_TARGET}"
